cloud_id         = "b1gnk09dv6usdvsdvsdvs"
folder_id        = "b1ghj2aqa2msdvsdvsv"
region_id        = "ru-central1"
zone             = "ru-central1-a"
image_id         = "fd8h9ujjq50sdvsdvs" # Image ID of default "reddit-base-1682885935"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
// subnet_id                = "e9bmf16e0jnfihhpo1bm"
service_account_key_file = "../cloud-editor-key.json"
instances                = 1
app_disk_image           = "fd82dkbbsdvsdvsdv"    # image ID of Ruby installed Packer image named "reddit-base-ruby-1683553352"
db_disk_image            = "fd8t80ruelssdvsdvsvd" # image ID of MongoD installed Packer image named "reddit-base-mdb-1683552819"
access_key               = "YCAJE7V_sdvsdvsdv"
secret_key               = "YCOx3MIZOU48_sdvsdvsdv"
bucket_name              = "terr-state-file"
