cloud_id         = "b1gnk09dv6udscsdv"
folder_id        = "b1ghj2aqsdvsdvsdv"
region_id        = "ru-central1"
zone             = "ru-central1-a"
image_id         = "fd8h9ujjqsdvsdvsdv" # Image ID of default "reddit-base-1682885935"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
// subnet_id                = "e9bmf16e0jnfihhpo1bm"
service_account_key_file = "../cloud-editor-key.json"
instances                = 1
app_disk_image           = "fd82dkbsdcsdvsdv"   # image ID of Ruby installed Packer image named "reddit-base-ruby-1683553352"
db_disk_image            = "fd8t80ruesdvsdvsdv" # image ID of MongoD installed Packer image named "reddit-base-mdb-1683552819"
